{% extends 'app/objtemplate.html' %}

{% block title %}Objeto{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
    google.charts.load('current', {'packages':['corechart'], 'language':'pt-br'});

    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('number', 'time');
        data.addColumn('number', 'flux');

        var x = {{x|safe}}
        var y = {{y|safe}}

        for (var i = 0; i < x.length; i++){
            data.addRow([x[i], parseFloat(y[i])]);
        }

        var options = {
            'title':'Curva de Luz',
            curveType: 'function',
        };

        var chart = new google.visualization.LineChart(document.getElementById('lightcurve'));
        chart.draw(data, options);
    }
</script>
<div id="lightcurve" style="width: 900px; height: 500px"></div>
{% endblock %}