{% extends 'app/objtemplate.html' %}

{% block title %}Objeto{% endblock %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
    google.charts.load('current', {'packages':['corechart'], 'language':'pt-br'});

    function draw(){
        drawChart();
    }

    function drawChart() {
        data = new google.visualization.DataTable();
        data.addColumn('number', 'Tempo');
        data.addColumn('number', 'Fluxo');

        var x = {{x|safe}}
        var y = {{y|safe}}
        var id = {{id}}

        for (var i = 0; i < x.length; i++){
            data.addRow([x[i], parseFloat(y[i])]);
        }

        var options = {
            title:'Curva de Luz',
            titlePosition: 'out',
            titleTextStyle:{
                fontName: 'Inter',
                fontSize: 30,
            },
            curveType: 'none',
            legend: 'none',
            pointShape: 'star',
            hAxis:{
                title: 'Dias - Barycentric Julian Date (BJD)',
                titleTextStyle: {
                    fontName: 'Inter',
                    fontSize: 20,
                    bold: false
                }
            },
            vAxis: {
                title: 'Fluxo (J/m²/s)',
                titleTextStyle: {
                    fontName: 'Inter',
                    fontSize: 20,
                    bold: false
                }
            },
            axisTitlesPosition: 'out',
            colors: ['#500980'],
            explorer: {
                keepInBounds: true,
                maxZoomOut: 1,
                maxZoomIn: 0.02
            },
        };

        var chart_div = document.getElementById('lightcurve');
        var chart = new google.visualization.LineChart(chart_div);
        

        chart.draw(data, options);

        google.visualization.events.addListener(chart, 'ready', function () {
            document.getElementById('png-btn').setAttribute("href", chart.getImageURI());
        });

        $('#csv-button').on('click', function(){
            var csvColumns;
            var csvContent;
            var downloadLink;
            var filename;

            csvColumns = '';
            for (var i = 0; i < data.getNumberOfColumns(); i++) {
                csvColumns += data.getColumnLabel(i);
                if (i < (data.getNumberOfColumns() - 1)) {
                    csvColumns += ',';
                }
            }
            csvColumns += '\n';

            csvContent = csvColumns + google.visualization.dataTableToCsv(data);

            filename = 'lightcurve.csv';
            downloadLink = document.createElement('a');
            downloadLink.href = 'data:text/csv;charset=utf-8,' + encodeURI(csvContent);
            downloadLink.download = filename;
            raiseEvent(downloadLink, 'click');
        });

        function raiseEvent(element, eventType) {
            var eventRaised;
            if(document.createEvent) {
                eventRaised = document.createEvent('MouseEvents');
                eventRaised.initEvent(eventType, true, false);
                element.dispatchEvent(eventRaised);
            } else if (document.createEventObject) {
                eventRaised = document.createEventObject();
                element.fireEvent('on' + eventType, eventRaised);
            }
        }
    }
 
    google.charts.setOnLoadCallback(draw);

</script>

<div class="container-fluid">
    <input type="hidden" name="idH" value="{{id}}">
    <input type="hidden" name="indexH" value="{{index}}">
    <div class="row align-items-center">
        <div class="col d-flex align-items-center justify-content-center">
            <div id="lightcurve" style="width: 100%; height: 550px; z-index: 0"></div>
        </div>
    </div>
    <div class="row align-items-center justify-content-center">
        <div class="col d-flex align-items-center justify-content-center">
            <div class="toolBar" style="background-color: #5B3FBF; width: 90%; height: 70px; border-radius: 5px;">
                <div class="btn-toolbar justify-content-between" role="toolbar">
                    <div class="btn-group btn-group-lg" role="group" style="margin-left: 10px; margin-top: 10px;">
                        <a class="btn btn-light" id="csv-button">
                            Baixar CSV
                        </a>
                        <a class="btn btn-light" id="png-btn" href="/" download="" role="button">
                            Baixar PNG
                        </a>
                    </div>
                    <div class="btn-group btn-group-lg" role="group" style="margin-right: 10px; margin-top: 10px;">
                        <button id="btnGroupDrop1" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Funções
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" id="fold-btn" href="/app/objeto/to_periodogram/{{id}}/{{index}}">Função Periodograma</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</div>
{% endblock %}